<!DOCTYPE html>
<html>
<head>
   <title>Translator</title>
   <!-- <link rel="stylesheet" href="/app.css"> -->
</head>
<body>

<h3>하고 싶은 말을 적어보세요</h3>
<form action="/result" method="GET">
   <input type="text" placeholder="한국어로!" name="search">
   <input type="submit">
</form>

<div class="container">
   <div class="lang" id="en">English: </div>
   <div class="lang" id="jp">Japenese: </div>
   <div class="lang" id="ta">Thai: </div>
   <div class="lang" id="ge">German: </div>
   <div class="lang" id="ru">Russian: </div>
   <div class="lang" id="sp">Spanish: </div>
   <div class="lang" id="it">Italian: </div>
   <div class="lang" id="fr">French: </div>
</div>
